.todayDate-root {
    display: -webkit-box;
    display: flex;
    font-size: 20px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    letter-spacing: 2px;
    padding: 30px 50px;
    text-transform: uppercase;
}