.form-root {
}

.form {
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    margin: 0px;
    padding: 5px 50px;
}

.form-root input {
    border: 2px solid #ccc;
    width: 70%;
    padding: 15px;
    height: 15px;
    font-size: 14px;
}

.form-root input:focus {
    outline: #45be8b auto 3px;
}

.form-btnSave {
    width: 20%;
    padding: 16px;
    font-size: 14px;
    background-color: #46be8b;
    cursor: pointer;
    color: white;
    border: none;

}