.todo-container {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    text-align: initial;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    box-shadow: 0 3px 11px rgba(0,0,0,0.1);
    padding: 10px;
    margin: 10px 0px;
    min-height: 80px;
    background: white;
}

.todo-item_inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item_inner h3 {
    width: 100%;
    font-size: 1.6em;
    margin: 10px;
}

.todo-item {
    width: 100%;
}

button:focus{
    outline: none;
}

.todo-item_inner button {
    padding: 0;
    color: #46be8b;
    cursor: pointer;
    border: none;
    margin: 5px;
}

.todo-icon__done {
    font-size: 30px;
    margin: 0px;
    padding-top: 8px;
}

.todo-item_inner .todo-removeBtn {
    display: flex;
    flex-flow: row-reverse;
}

.todo-done__checked {
    color: grey;
    text-decoration-line: line-through;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.75s;
}

.todo-done__unchecked {
    color: black;
    transition: text-decoration-line 0.2s ease-in-out;
    transition-duration: 0.75s;
}