.todo-container {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    box-shadow: 0 3px 11px rgba(0,0,0,0.1);
    padding: 8px 20px;
    margin: 10px;
    min-height: 100px;
}

.todo-item_inner {
    width: 100%;
}

.todo-item {
    width: 100%;
}

.todo-item_inner button {
    width: 20%;
    padding: 10px;
    background-color: #46be8b;
    cursor: pointer;
    color: white;
    border: none;
    margin: 10px;
}


.todo-item_inner .todo-removeBtn {
    display: flex;
    flex-flow: row-reverse;
}

.todo-removeBtn button{
    background-color: #af0000;
    border-radius: 10px;

}

